
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Method</title>
    <h2>Method action from the IndexTempData</h2>
</head>
<body>
</body>
</html>
