
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueryTest</title>
</head>
<body>
    <h2>QueryTest View</h2>
    <p>I am QueryTest section not using layout</p>
    <h1>@ViewBag.Name</h1>

</body>
</html>
